html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    overflow-y: auto;
}

.pageContainer {
    display: block;
    width: 100%;
    margin-top: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #55868C;
    height: 60px;
    width: 100vw;
    box-shadow: #325458 0 8px 10px;
    column-gap: 50px;
    row-gap: 50px;
}

/*.navbar-collapse{
    display:flex;
    flex-direction: column;
}*/

.navbar-toggler-icon {
    color: black;
    border: 2px solid black;
}

.nav-link {
    color: black;
}

.btn:focus, .btn:active:focus {
    box-shadow: none;
}

.btn-primary, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #55868C;
    color: white;
    border: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #79aeb5;
    color: white;
}

.cornerBtn {
    flex: 0 0 auto;
    color: black;
}

.cornerBtnNotice {
    flex: 0 0 auto;
    color: black;
    background-color: red;
    border-radius: 10px 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-self: center;
}

.centerBtn {
    flex: 1 1 auto;
    justify-self: center;
}

textarea {
    width: 27vw;
    height: 8vh;
}
