html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    overflow-y: auto;
}

.pageContainer {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.navbar {
    background-color: #55868C;
    box-shadow: #325458 0 8px 10px;
}

.navbar-collapse{
    width: fit-content;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.btn:focus, .btn:active:focus {
    box-shadow: none;
}

.btn-primary, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #55868C;
    color: white;
    border: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #79aeb5;
    color: white;
}

.cornerBtn {
    color: black;
}

.cornerBtnNotice {
    color: black;
    background-color: red;
    border-radius: 10px 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-self: center;
}

textarea {
    width: 27vw;
    height: 8vh;
}
